<div>
    <ul>
        <li>
            {{myRepos.clone_url}}
        </li>
        <li>
            {{myRepos.created_at| date}}
        </li>
        <li>
            {{myRepos.description}}
        </li>
        <li>
            <a href="{{myRepos.homepage}}" target="blank">homepage</a>
        </li>
        <li>
            <a href="{{myRepos.html_url}}" target="blank">url</a>
        </li>
        <li>
            {{myRepos.forks_count}}
        </li>
        <li>
            {{myRepos.full_name}}
        </li>
        <li>
            {{myRepos.name}}
        </li>
        <li>
            {{myRepos.subscribers_count}}
        </li>
        <li>
            {{myRepos.watchers_count}}
        </li>
    </ul>     
        
</div>
