.two{
    background-image: url(../../../assets/bg/2.jpg);
    padding-bottom: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.myForm{
    padding-top: 20px;
}
.brand{
    padding-top: 20px;
}
.brand h3{ 
    text-align: right;
    font-size: 18px;
}
.br{
    color:#c89666;
}
.row.is-flex{
    display: flex;
}
.row.is-flex [class*="col-"]{
    float: none;
    display: flex;
    
}
.card-group{
    padding-top: 10px;
}
.cards{
    background-color:  #fff5d7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px #aca3a3;
    overflow: hidden;
}
.cards:hover{
    background-color:   #DCE1E3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px #aca3a3;
}
.navs{
    list-style-type: none;
    margin: 0;
  padding: 0;
}
.navs li{
    display: inline-block;
  padding: 4px;
}
.img{
    width:40px;
    height: auto;
    border-radius: 50%;
}.mytag{
    color: #164A41;
    font-weight: 600;
}
.second{
    padding-top: 30px;
}
.card{
    background-color:#DCE1E3;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 5px 10px #aca3a3;
    overflow: hidden;
}
.card-title{
    color: #2d545e;
}
.th{
    color: #c89666;
}
#btns{
    background-color: #2d545e;
    border: 1px solid #2d545e;
}
#btns:hover{
    background-color: #c89666;
}