<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="myForm">
                    <form>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search Github Username" [(ngModel)]='username' name="username" (keyup)="findUser()">
                          <!--keyup is an event binding that responds to DOM event, like when a user presses and releases a key-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="brand">
                    <h3>Hypertext <span class="br">Assassin</span> </h3>
                </div>
            </div>
        </div>
    </div>
</section>

